.wrapperEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    padding: 20px;
    font-size: 20px;
}


.table {
    border-collapse: separate;
    text-align: left;
    width: 100%;
}


.table td,
.table th {
    padding: 8px;
    word-wrap: break-word;
    word-break: break-word;
}

.table tfoot td {
    background-color: #f4f4f4;
    padding: 10px;
    vertical-align: middle;
}

.discount {
    display: inline-block;
    word-wrap: break-word;
    word-break: break-word;
}

